@import "tailwindcss";
@plugin "daisyui";

html {
  background-color: #f1fff3;
}
body {
  max-width: 767px;
  margin: 0 auto;
}
.login-form-area {
  background: #fff;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 40px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  margin-top: -50px;
}

.login-form-area form {
    display: grid;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}
.login-form-area form .single-input {
    display: grid;
    gap: 5px;
}
.login-form-area form .single-input label {
    font-weight: 600;
}
.login-form-area form .single-input input {
    padding: 13px 10px !important;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.submit-button button {
    width: 100%;
    padding: 15px 10px;
    background: #4ade80;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.submit-button button:hover {
    background: #22c55e;
}
.form-header h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    margin-top: -50px;
    margin-bottom: 40px;
}
.social-login {
    max-width: 500px;
    margin:0 auto;
    display: grid;
    gap: 15px;
}